{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imprimir Etiqueta - Chave {{ id }}</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>

    <div class="cartao-etiqueta">
        
        <h3>Chave {{ id }}</h3>
        
        <img 
            src="data:image/png;base64,{{ barcode }}" 
            alt="Código de barras da Chave {{ id }}"
        >
        
        {% comment %} <p style="font-size: 16px; font-weight: bold; color: #333; margin-top: 10px;">
            Cód: {{ id }}
        </p> {% endcomment %}
    </div>

</body>
</html>